parameters:
    paths:
        - src

    level: 5

    excludePaths:
        - src/Stubs
        - src/NovaDependencyContainer.php

    ignoreErrors:
        - '#Trait.*is used zero times#'
        - '#Call to static method.*on an unknown class Laravel\\Nova\\Nova#'